<% content_for(:title, t('.page_title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1 class="border-bottom border-danger mx-3 pb-1"><%= t('users.edit.title')%></h1>
      <%= render 'edit_form', user: @user %>
      <%= link_to "削除", @user, class: "btn btn-danger my-3", data: { turbo_method: :delete, turbo_confirm: "すべてのデータが消えてしまいます。\n元に戻せませんが本当にアカウントを削除しますか？" } %>
    </div>
  </div>
</div>