<% content_for(:title, t('.page_title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1 class="border-bottom border-danger mx-3 pb-1"><%= t('users.new.title')%></h1>
      <%= render 'new_form', user: @user %>
    </div>
    <div class='text-center'>
      <%= link_to t('users.new.to_top_page'), root_path %>
    </div>
  </div>
</div>